:root {
  --text-color: #9e9aa8;
  --white-color: #fff;
  --dark-color: #34313d;
  --green: #2bd0d0;
  --red: #f46363;
}

/* GLOBAL STYLES */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white-color);
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  border: none;
  text-transform: capitalize;
}

.login-btn {
  color: var(--text-color);
  background-color: transparent;
}

.signup-btn {
  border-radius: 28px;
  padding: 9px 24px;
  color: var(--white-color);
}

.hero-btn {
  padding: 14px 40px 12px 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: normal;
  border-radius: 28px;
  border: none;
  text-transform: capitalize;
}

.url-button {
  padding: 16px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
}

.green-button {
  background-color: var(--green);
  color: var(--white-color);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header { 
}

.site-header__container {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 70px;
}

.logo-wrapper {
  display: flex;
}

.logo {
  display: flex;
  width: 120px;
  height: 33px;
  margin-right: 45px;
}

.site-header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-header__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.site-header__item:not(:last-child) {
  margin-right: 29px;
}

.site-header__link {
  font-size: 15px;
  line-height: normal;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-left: auto;
}

/* HERO */
.hero {
  position: relative;
}

.hero-features {
  display:flex;
  align-items: center;
  gap: 40px;
}

.hero-content {
  margin-top: 40px;
  margin-bottom: 222px;
  width: 564px;
}

.hero-title {
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--dark-color);
}

.hero-text {
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.15px;
  color: var(--text-color);
}

.hero-image-wrapper {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 150px;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

/* URL-FORM */
.URL-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  border-radius: 10px;
  background-image: url("../img/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Url-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 50px;
  border-radius: 10px;
  gap: 24px;
}

.Url-input {
  display: flex;
  flex: 1;
  margin-right: auto;
  max-width: 770px;
  padding: 14px 32px;
  border-radius: 10px;
}

.Url-input:valid {
  border: 2px solid var(--green);
}

.Url-input:invalid {
  border: 2px solid var(--red);
  color: var(--red);
}

/* .Url-input:not(placeholder-shown) {
  border: 2px solid red;
} */




